.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  border-radius: 10px;
  background-color: aqua;
  width: 50%
}

.title {
  text-align: center;
}

.inputs {
  text-align: center;
  position: relative;
  padding: 10px
}

.firstname {
  margin: 10px;
}

.button {
  margin: 5px
}

.name-div {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-name {
  margin: 0px;
  border-radius: 10px;
  background-color: rgba(213, 113, 243, 0.945);
  width: 50%;
  text-align: center;
}


